.services {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  position: relative;
}

.services-hero {
  height: calc(40vh - 80px);
}

.services-title {
  font-weight: 900;
  font-size: 96px;
  line-height: 114.19%;
  background: -webkit-linear-gradient(#046cf3, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.services-subtitle {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 151.19%;
  text-transform: uppercase;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.86);
}

.services-container {
  background: rgba(242, 242, 242, 0.6);
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-container-title {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 56px;
  margin-top: auto;

  color: #f2a007;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.6),
    1px 0 rgba(0, 0, 0, 0.6), 0 -1px rgba(0, 0, 0, 0.6);
  margin-right: 0px;
}

.services-container-description {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 151.19%;
  text-transform: uppercase;
  margin-right: 0px;
}

.services-container-text {
  width: 75%;
}

.service-page-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  height: auto;
  margin-top: 10px;
}

.services-input-area {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  margin-right: 10%;
}

.services-input {
  font-size: 24px;
  border: 1px solid #000;
  transition: 0.2s;
  cursor: pointer;
}

.services-input-send:hover {
  background-color: #f2a007;
}
.services-input-send:active {
  background-color: #f1cb84;
}
.services-input-send {
  margin-top: 10%;
  width: 60%;
  height: 100px;
}

@media (max-width: 1500px) {
  .services-title {
    font-size: 76px;
  }
  .service-page-img {
    width: 15%;
  }
  .services-container-description {
    font-size: 18px;
  }
  .services-container-title {
    font-size: 36px;
  }
  .services-container {
    padding-bottom: 30px;
  }
  .services-input-area {
    font-size: 28px;
    margin-bottom: 2%;
  }
}
@media (max-width: 1200px) {
  .services-input-send {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .services-title {
    font-size: 54px;
  }
  .services-hero {
    padding-top: 40px;
  }
  .services-subtitle {
    font-size: 18px;
  }
  .services-container-title {
    font-size: 32px;
    margin-bottom: 25px;
  }
  .services-container-description {
    font-size: 16px;
  }
  .services-input-area {
    font-size: 18px;
  }
  .services-input {
    font-size: 14px;
  }
  .services-input-send {
    height: 50px;
  }
}
@media (max-width: 600px) {
  .services-title {
    font-size: 42px;
  }
  .services-subtitle {
    font-size: 16px;
  }
  .services-container-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .services-container-description {
    font-size: 12px;
  }
  .services-input-area {
    font-size: 16px;
    width: 80%;
  }
  .get-service {
    justify-content: center;
  }
  .get-service-title {
    text-align: center;
  }
  .services-input-area {
    margin: auto;
    margin-bottom: 10px;
  }
  .services-input-send {
    margin: auto;
    margin-top: 20px;
  }
  .services-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 400px) {
  .services-hero {
    padding-top: 60px;
  }
  .services-title {
    font-size: 36px;
  }
  .services-subtitle {
    font-size: 14px;
  }
  .services-container-title {
    font-size: 18px;
  }
  .services-container-description {
    font-size: 10px;
  }
  .services-input-area {
    font-size: 14px;
  }
  .services-input {
    font-size: 12px;
  }
}
