* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style-type: none;
}
.container {
  height: 100%;
  background-repeat: no-repeat;
  background-repeat: repeat-y;
  background-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.App {
  max-width: 1900px;
  margin: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  background-color: #f2f2f2;
  font-weight: 300;
}
.footer-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  flex-wrap: wrap;
}
.footer-nav .nav-link::after {
  content: '';
}
.social-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 170px;
  padding: 0;
}
.social-item {
  display: flex;
  width: 35px;
  height: 35px;
  background-size: contain;
}

.footer .anticon svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 900px) {
  .footer-nav ul {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav ul {
    flex-wrap: nowrap;
    height: 100%;
  }
}
