* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  background: url(../public/hero.jpg);
  height: 100%;
  background-repeat: no-repeat; 
  background-repeat: repeat-y;
  background-size: 100%;
}
.App {
  width: 1900px;
  overflow: hidden;
}