.innerMain {
  padding-top: 5%;
  position: relative;
}
.innerMain-hero {
  height: calc(85vh - 80px);
}

.innerMain-container {
  background: rgba(242, 242, 242, 0.6);
  border-radius: 5px;
  padding: 40px 100px;
  padding-bottom: 70px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}

.innerMain-container-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 2%;
  width: 100%;
}

.events-container {
  width: 49%;
}

.events-conainer-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 2%;
}

.line {
  height: auto;
  width: 0.1%;
  background-color: #f2a007;
  margin: 10px;
}

.event {
  display: flex;
  font-size: 24px;
  margin-bottom: 2%;
}

.event-date {
  padding-right: 2%;
}

.innerMain-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.best-worker {
  width: 50vh;
  height: 50vh;
  background: radial-gradient(
    56.2% 56.2% at 50% 50%,
    #448ff2 0%,
    rgba(68, 143, 242, 0.56) 37.5%,
    rgba(255, 255, 255, 0) 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.best-worker-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40vh;
  height: 40vh;
  border-radius: 90%;
  background-image: url('../../../../public/Workers/Neo.jpg');
}

.best-worker-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.innerMain-projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innerMain-projects-item {
  width: 30vh;
  height: 30vh;
  background: radial-gradient(
    56.2% 56.2% at 50% 50%,
    #448ff2 0%,
    rgba(68, 143, 242, 0.56) 37.5%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.project-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vh;
  height: 20vh;
}

.project-img-1 {
  background-image: url(../../../../public/service-img.png);
}
.project-img-2 {
  background-image: url(../../../../public/project-management.png);
}
.project-img-3 {
  background-image: url(../../../../public/technology.png);
}
.project-img-4 {
  background-image: url(../../../../public/networking.png);
}

.project-name {
  font-size: 22px;
}
