.landing {
  padding-top: 5%;
  position: relative;
}
.landing-hero {
  height: calc(85vh - 80px);
}
.landing-title {
  font-weight: 900;
  font-size: 96px;
  line-height: 114.19%;
  background: -webkit-linear-gradient(#046cf3, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.landing-subtitle {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 151.19%;
  text-transform: uppercase;
  width: 650px;
  background: rgba(255, 255, 255, 0.86);
}
.hero-world {
  background-image: url(../../../public/hero-world.svg);
  position: absolute;
  width: 624px;
  height: 546px;
  background-size: contain;
  top: 12%;
  right: 15%;
  background-repeat: no-repeat;
}
.landing-services-item {
  width: 250px;
  height: 250px;
  background: radial-gradient(
    56.2% 56.2% at 50% 50%,
    #448ff2 0%,
    rgba(68, 143, 242, 0.56) 37.5%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-container-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 80px;
}
.landing-services {
  display: flex;
  justify-content: space-between;
}
.landing-container {
  background: rgba(255, 255, 255, 0.86);
  border-radius: 5px;
  padding: 40px 100px;
  padding-bottom: 70px;
  margin-bottom: 100px;
}
.service-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
.service-img-1 {
  background-image: url(../../../public/service-img.png);
}
.service-img-2 {
  background-image: url(../../../public/project-management.png);
}
.service-img-3 {
  background-image: url(../../../public/technology.png);
}
.service-img-4 {
  background-image: url(../../../public/networking.png);
}
@media (max-width: 1650px) {
  .hero-world {
    right: 0;
  }
}
@media (max-width: 1400px) {
  .landing-container {
    padding-left: 0;
    padding-right: 0;
  }
  .landing-services-item {
    width: 150px;
    height: 150px;
  }
  .service-img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1350px) {
  .hero-world {
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding-right: 2%;
    padding-left: 2%;
  }
  .landing-container-title {
    font-size: 32px;
  }
  .landing {
    padding-top: 5%;
  }
  .landing-title {
    font-size: 66px;
  }
  .hero-world {
    right: 15%;
  }

  .landing-subtitle {
    width: 45%;
  }
}
@media (max-width: 1100px) {
  .landing-title {
    font-size: 46px;
  }
}
@media (max-width: 900px) {
  .hero-world {
    width: 300px;
    height: 300px;
    right: 0;
  }
  .landing-subtitle {
    font-size: 16px;
  }
  .landing-hero {
    height: 55vh;
  }
}
@media (max-width: 850px) {
  .header {
    width: 100%;
    position: fixed;
    z-index: 1000;
  }
  .landing {
    padding-top: 10%;
  }
}
@media (max-width: 700px) {
  .landing-services-item {
    width: 100px;
    height: 100px;
  }
  .service-img {
    width: 60px;
    height: 60px;
  }
  .landing-container-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .landing {
    padding-top: 15%;
  }
  .header {
    height: 60px;
  }
  .landing-title {
    font-size: 32px;
    text-align: center;
  }
  .landing-subtitle {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 14px;
  }
  .hero-world {
    width: 150px;
    height: 150px;
    top: 20%;
    left: 0;
    margin: auto;
  }
  .burger {
    width: 20px;
    height: 20px;
  }
  .header-nav {
    font-size: 12px;
  }
  .header-menu-container {
    padding: 2%;
  }
  .landing-container-title {
    font-size: 24px;
  }
  .landing-hero {
    height: 35vh;
  }
}
@media (max-width: 500px) {
  .landing {
    padding-top: 25%;
  }
  .landing-title {
    font-size: 24px;
  }
  .landing-subtitle {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .service-img {
    width: 40px;
    height: 40px;
  }
  .landing-services-item {
    width: 60px;
    height: 60px;
  }
}
