.news {
  padding-top: 5%;
  position: relative;
}
.news-container-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 80px;
}
.news-container {
  background: rgba(242, 242, 242, 0.86);
  border-radius: 5px;
  padding: 40px 100px;
  padding-bottom: 70px;
  margin-bottom: 100px;

}
.news-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vh;
  height: 20vh;
}

.news-img-1{
  background-image: url(../../../../public/networking.png);
}

.news-img-2{
  background-image: url(../../../../public/networking.png);
}

.news-img-3{
  background-image: url(../../../../public/networking.png);
}

.news-text{
  width: 70%;
  margin-left: 5%;
}

.news-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1%;
}

.news-description{
  font-size: 18px;
}

.news-item{
  margin: 5%;
  display: flex;
}