.notifications {
  padding-top: 0%;
  position: relative;
  display: flex;
}

.notifications-container-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 0;
  margin-left: 5%;
}
.notifications-container {
  background: #F2F2F2;
  border-radius: 5px;

  margin: 1%;
  padding: 1%;
}

.notifications-search-container{
  height: 50%;
  width: 20%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
}

.sort-select{
  background: rgba(196, 196, 196, 0.59);
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4vh;
  margin-bottom: 5%;
}

.visitor-img{
  background-image: url(../../../../public/user.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: min(8vh, 6vw);
  height: min(8vh, 6vw);
}

.visitors{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.visitor-info{
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.type{
  font-size: 18px;
  border-radius: 15px;

  text-align: center;
  border: none; 
  outline: none;

  background: rgba(242, 242, 242, 0);
  transition: .15s;
}

.type:hover{
  background: rgba(242, 242, 242, 0.5);
  font-size: 20px;
}

.notification-type{
  display: flex;
  width: 100%;
  height: 100%;  
  justify-content: space-evenly;

  background: rgba(196, 196, 196, 0.59);
  border-radius: 15px;
}

.notification-info{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 20%;
}

.info-field{
  background: rgba(196, 196, 196, 0.59);
  border-radius: 15px;
  height: 100%;
  width: 100%;
  margin-left: 10px;
}

.notif-page{
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.info{
  height: 4vh;
  margin: 1%;
  display: flex;
  align-items: center;
}

.service-info, .vacancy-info{
  width: 100%;
}

.lastname-info, .phone-info, .resume-info{
  width: 40%;
}

.name-info, .city-info{
  width: 27%;
}

.email-info{
  width: 56%;
}

.notes-info, .q-info, .letter-info{
  flex-direction: column;
  width: 100%;
  height: 20vh;
  align-items: flex-start;
}

.info-textarea{
  margin-left: 0;
  resize: none;
}

.email-info-q{
  width: 100%;
}